body {
    font-family: 'Segoe UI', sans-serif;
    background-color:  #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.header {
    background-color: #245c60;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header h2{
    padding-left: 20px;
    color: white;
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #ecbb66;
}

footer {
    background-color: #d1d2d2;
    padding: 30px 0;
    margin-top: auto; 
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap; 
}

.footer-content {
    width: 30%;
    text-align: center;
}

h5 {
    font-size: 25px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p {
    width: 180px;
    margin: auto;
    padding: 7px;
}

.footer-content ul {
    text-align: center;
    padding: 0;
}

.footer-content ul li {
    list-style-type: none;
    padding: 7px;
}

.footer-content ul li a {
    text-decoration: none;
    color: black;
}

.footer-content ul li a:hover {
    color: #ecbb66;
}
